<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List App</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body ng-app="todoListApp">
  <div class="container">
    <h1>My TODOs</h1>
    <div class="bar"></div>
    <todos></todos>
    <form>
      <label for="csv-input">Upload your todos</label>
      <!-- <input type="file" id="csv-input" file-model="myFile"></input>
      <input type="submit" value="Upload" ng-click="uploadFile()"> -->
      <input type="file" id="csv-input" ngf-select ng-model="csvFile" name="file"></input>
      <!-- <input type="submit" value="Upload" ng-click="uploadFile()"> -->
      <button ng-click="uploadCSV(csvFile)">Upload</button>
    </form>
  </div>
  <script src="vendor/angular.min.js" type="text/javascript"></script>
  <script src="vendor/ng-file-upload-shim.min.js"></script>
  <script src="vendor/ng-file-upload.min.js"></script>
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/controllers/main.js" type="text/javascript"></script>
  <script src="js/services/data.js" type="text/javascript"></script>
  <script src="js/directives/todos.js" type="text/javascript"></script>
</body>
</html>
